.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: aqua;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    background-color: blue;
}

.content {
    flex: 1;
}
